<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="default" class="org.apache.log4j.ConsoleAppender">
		<!-- layout class="org.apache.log4j.TTCCLayout"/ -->
		<layout class="org.apache.log4j.PatternLayout">
			<!-- param name="ConversionPattern" value="NSB(%c) %-5p %m	at %l%n"/ -->
			<param name="ConversionPattern" value="%-5p: %m		at %l %n"/>
		</layout>
	</appender>

	<!-- log detail configuration -->

	<logger name="org.apache" additivity="false">
		<level value="warn"/>
		<appender-ref ref="default"/>
	</logger>

	<logger name="org.apache.struts2" additivity="false">
		<level value="info"/>
		<appender-ref ref="default"/>
	</logger>
	
	<logger name="com.opensymphony.xwork" additivity="false">
		<level value="info"/>
		<appender-ref ref="default"/>
	</logger>

	<logger name="freemarker" additivity="false">
		<level value="warn"/>
		<appender-ref ref="default"/>
	</logger>

	<logger name="com.mevipro" additivity="false">
		<level value="debug"/>
		<appender-ref ref="default"/>
	</logger>

	<logger name="org.apache.empire.commons" additivity="false">
		<level value="warn"/>
		<appender-ref ref="default"/>
	</logger>

	<logger name="org.apache.empire.db" additivity="false">
		<level value="debug"/>
		<appender-ref ref="default"/>
	</logger>

	<logger name="org.apache.empire.struts2" additivity="false">
		<level value="debug"/>
		<appender-ref ref="default"/>
	</logger>

	<logger name="org.apache.empire.struts2.websample" additivity="false">
		<level value="info"/>
		<appender-ref ref="default"/>
	</logger>

	<root>
		<priority value="warn"/>
		<appender-ref ref="default"/>
	</root>

</log4j:configuration>
